@font-face{
    font-family: 'MyFont';
    src: url('./301D7C_0_0.woff2') format('woff2'),
         url('./301D7C_0_0.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
body{
    background-color: gray;
    font-family: 'MyFont';
    .hello{
        color: blue;
        background: url('./giphy.gif');
    }
}
